* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif !important;
}

nav {
    box-shadow: 0px 1px 10px #999;
    background-color: #000;

    .nav-link {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

    button {
        background-color: #DDAE72;
        padding: 5px 20px;
        border: none;

        a {
            color: #fff;
            font-weight: 500;
            text-decoration: none;
        }
    }
}

.about {
    background-color: #F7F2EC;
}

.amenities {
    h2 {
        font-weight: 600;
    }

    .col-box {
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        padding: 30px 10px;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.location {
    background-color: #003434;

    .form-box {
        h1 {
            color: #003434;
            font-weight: 400;
        }

        background-color: #F7F2EC;
        padding: 20px 10px;

        input {
            width: 100%;
            padding: 4px;
            border: 1px solid #DDAE72;
        }

        textarea {
            width: 100%;
            padding: 4px;
            border: 1px solid #DDAE72;
        }

        button {
            background-color: #DDAE72;
            color: #fff;
            padding: 5px 20px;
            border: none;
            font-weight: 700;
        }
    }
}

.features {
    background-color: #003434;
    color: #fff;

    .col-box {
        background-color: #fff;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        padding: 30px 10px;
        border-radius: 20px;

        .usp {
            color: #000;
        }
    }

    button {
        border: none;
        margin-top: 20px;
        background-color: #DDAE72;
        color: #fff;
        padding: 5px 20px;
    }
}

.silent{
    h1{
        font-size: 26px;
        font-weight: 600;
    }
    p{
        font-size: 14px;
        
    }
     .col-box {
        background-color: #003434;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        padding: 30px px;
        color: #fff;
        height: 100%;
        h2{
            font-size: 24px;
            margin-top: 30px;
            padding: 0px 10px;
        }
        p{
            font-size: 14px;
            padding: 0px 10px;
        }
        border-radius: 20px;
    }
}

.floor-plans {
    h6 {
        background-color: #003434;
        color: #fff;
        padding: 10px 0px;
    }
}


.bottom-cta {
    background-color: #003434 !important;
    box-shadow: 0 -4px 12px rgba(255, 235, 205, 0.9);
    /* Soft Peach Shadow */
    z-index: 9999;

    label {
        color: #FFFFFF;
        font-weight: 600;
        text-transform: uppercase;
    }

    button {
        background-color: #DDAE72;
        color: #ffff;
        font-weight: 500;
        text-transform: uppercase;
    }
}

/* Reduce width to 50% of viewport on desktop */
.custom-modal .modal-dialog {
    max-width: 50vw;
    width: 100%;
    margin: auto;
}

/* Ensure modal content doesn't have extra space */
.custom-modal .modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

/* Image styles */
.custom-modal .modal-body img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: contain;
}

/* Adjust modal size on mobile */
@media (max-width: 768px) {
    .custom-modal .modal-dialog {
        max-width: 90vw;
    }
}

@media (max-width: 480px) {
    .custom-modal .modal-dialog {
        max-width: 95vw;
    }
}

.phone_cta {
    background-color: #003434;
    padding: 40px 10px;

    h1 {
        color: #ffff;
        font-weight: 600;
        font-size: 18px;
    }

    input {
        width: 100%;
        padding: 5px;
    }

    textarea {
        width: 100%;
        padding: 5px;
    }

    button {
        background-color: #DDAE72;
        padding: 5px 20px;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        border: none;
    }
}

.faq {
    .accordion-button:not(.collapsed) {
        color: #fff;
        background-color: #DDAE72;
        font-weight: bold;
        box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
    }

    .accordion-button {
        position: relative;
        display: flex;
        font-weight: bold;
        align-items: center;
        width: 100%;
        padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
        font-size: 1rem;
        color: #fff;
        text-align: left;
        background-color: #DDAE72;
        border: 0;
        border-radius: 0;
        overflow-anchor: none;
        transition: var(--bs-accordion-transition);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999999;
}

.form-container {
    position: fixed;
    top: 55%;
    left: 50%;
    width: 45%;
    transform: translate(-50%, -50%);
    background-color: #19382B;
    background-position: center;
    background-size: cover;
    padding: 20px 50px;
    border-radius: 5px;
    display: none;
    z-index: 999999;

    span {
        color: #EAE6E5;
        font-size: 24px;
        font-weight: 600;
        // @media (max-width:991px) {
        //     font-size: 16px;
        // }
    }
}

.form-container button:hover {
    background-color: white;
    color: black;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.popup_form .cross {
    background-color: #19382B;
    color: #fff;

    &:hover {
        background-color: #19382B;
        color: #fff;
    }
}

.popup_form label {
    color: #dae0f5;
    font-family: "Rajdhani", sans-serif !important;
    font-size: 18px;
    width: 100%;
    padding: 8px;
}

.popup_form input {
    font-family: "Rajdhani", sans-serif !important;
    font-size: 14px;
    color: #53626a;
    width: 100%;
    padding: 8px;
}

.popup_form textarea {
    font-family: "Rajdhani", sans-serif !important;
    font-size: 14px;
    color: #53626a;
    width: 100%;
    padding: 8px;
}

.popup_form h5 {
    color: #dae0f5;
    font-family: "Rajdhani", sans-serif !important;
    font-size: 24px;
}

.form-container h4 {
    color: #FFC000;
    font-size: 21px;
    font-weight: 700;
}

.form-container p {
    color: #EAE6E5;
    font-size: 12px;
}

.popup_form h6 {
    color: #dae0f5;
    font-family: avalon-bold;
    font-size: 15px;
    text-align: center;
}

.popup_form button {
    background-color: #DDAE72;
    color: #fff;
    font-family: "Rajdhani", sans-serif !important;
    font-weight: 700;
    text-transform: uppercase;
    &:hover {
        border: 1px solid #19382B;
    }
}

@media (max-width:576px) {
    .form-container {
        top: 50%;
        width: 100%;
        padding: 20px 10px;
    }

    .btn_brochure {
        background-color: #1e1916;
        padding: 5px 0 20px 0;
        margin-top: -5px;
    }
}

.phone_mobile_cta {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    .first{
        background-color: #DDAE72 !important;
    }
    .second{
        background-color: #003434 !important;
    }
    button{
        width: 100%;
        padding: 10px 10px;
        border: none;
        a{
            color: #fff;
            font-weight: 600;
            font-size: 18px;
            text-decoration: none;
        }
    }
}